.testarea{
  position: fixed;
  left: 30px;
  top: 30px;
  width: 500px;
  height: 500px;
  border: black 1px solid;

}

.testarea:before{
 font-family: monospace;
 font-size: 1em;
 content: '|➚|✐|◯|▢|'; position: absolute; top: -2em;
}
